<a href="https://colab.research.google.com/github/Houmayan/ML/blob/main/Missing_values(preprocessing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [67]:
df = pd.read_csv("/content/population_data.csv")

In [68]:
df

   Year  Population  Population_1  Population_2
0  1980         2.1           2.1           2.1
1  1983         2.2           NaN           2.3
2  1985         2.9           2.9           2.9
3  1990         3.2           3.2           0.0
4  1991         3.3           3.3           3.3
5  1992         NaN           3.4           3.4
6  1995         4.1           4.1           4.1
7  1998         4.7           4.7           0.0
8  2000         NaN           4.9           4.9
9  2003         5.1           5.1           5.1

In [69]:
df.isnull().sum()

Year            0
Population      2
Population_1    1
Population_2    0
dtype: int64

In [70]:
df.shape

(10, 4)

**Method 1**

In [71]:
imputer1 = SimpleImputer(missing_values = np.nan,strategy="mean")

In [72]:
imputer1.fit(df.iloc[:,1:4])
df.iloc[:,1:4] = imputer1.transform(df.iloc[:,1:4])

In [73]:
df

   Year  Population  Population_1  Population_2
0  1980        2.10      2.100000           2.1
1  1983        2.20      3.744444           2.3
2  1985        2.90      2.900000           2.9
3  1990        3.20      3.200000           0.0
4  1991        3.30      3.300000           3.3
5  1992        3.45      3.400000           3.4
6  1995        4.10      4.100000           4.1
7  1998        4.70      4.700000           0.0
8  2000        3.45      4.900000           4.9
9  2003        5.10      5.100000           5.1

**Method 2**

In [77]:
df = pd.read_csv("/content/population_data.csv")

In [78]:
df['Population'] = df['Population'].replace(np.NaN, df['Population'].mean())

*# you can repeat this line and change this column name in which null value existed
#For Example if you do that for population_1 column:
  #df['Population_1'] = df['Population_1'].replace(np.NaN, df['Population_1'].mean())
# though it is not a convanient way because if you have many features/ coloumn with null values , 
#it is impossible to manually add column name to handle missing values.
# for that you can use /LOOP/ to do that at once which I will consider as method 3.
#and more important I forgot (Maybe I dont even know how to do that 🤣) how to travarse through a dataset using for loop 🤣🤣.
#I will work on the 3rd method and if i can solve that Insha Allah I  will send it.*

In [79]:
df

   Year  Population  Population_1  Population_2
0  1980        2.10           2.1           2.1
1  1983        2.20           NaN           2.3
2  1985        2.90           2.9           2.9
3  1990        3.20           3.2           0.0
4  1991        3.30           3.3           3.3
5  1992        3.45           3.4           3.4
6  1995        4.10           4.1           4.1
7  1998        4.70           4.7           0.0
8  2000        3.45           4.9           4.9
9  2003        5.10           5.1           5.1

In [80]:
df.isnull().sum()

Year            0
Population      0
Population_1    1
Population_2    0
dtype: int64